<mat-toolbar class="header-toolbar">
  <!-- Logo Section (Left) -->
  <div class="navbar-logo">
    <img routerLink="/" src="/images/logo.png" alt="app logo">
  </div>

  <!-- Navigation Section (Center) -->
  <nav class="navbar-nav">
    <a routerLink="/" 
       routerLinkActive="nav-active"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-link">
      Home
    </a>
    <a routerLink="/shop" 
       routerLinkActive="nav-active"
       class="nav-link">
      Shop
    </a>
    <a routerLink="/test-error" 
       routerLinkActive="nav-active"
       class="nav-link">
      Errors
    </a>
  </nav>

  <!-- Actions Section (Right) -->
  <div class="navbar-actions">
    <a routerLink="/cart" 
       routerLinkActive="nav-active" 
       matBadge="{{ cartService.itemCount()}}"
       matBadgeSize="large"
       class="cart-icon">
      <mat-icon>shopping_cart</mat-icon>
    </a>
    <button mat-stroked-button color="primary">Login</button>
    <button mat-stroked-button color="primary">Register</button>
  </div>
</mat-toolbar>

@if (busyService.loading) {
  <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
}
